body {
    box-sizing: border-box;
}

/* Controls the top icons */
header {
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
}
/* The size of the "My First Blog and properties */
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.back {
    display: flex;
    background-color:black;
    color: white;
    font-size:medium;
    margin-right: 35px;
}
/* Controls the light/dark mode  */
.darkMode {
    background-color: rgb(49, 48, 48);
    color: white;
}

.article {
    display: flex;
    flex-direction:column;
    border-style: double;
    height: 600px;
}

.title {
    border-bottom:thick;
}

.footer {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.footer h4, h5{
    text-align:center;
}

a:link{
    color:rgb(238, 139, 27);
}

a:visited{
    color:rgb(236, 175, 62);
}