* {
    margin: 0;
    padding: 0;
}

body {
    display:flex;
}

a {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black
}

.back {
    background-color: black;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
}

.dark-mode {
    background-color: black;
    color: white;
}

#warningMessage {
    color:red;
}