* {
    margin: 0;
    padding: 0;
}

body {
    display:flex;
}

a {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black
}

/* The properties for when dark mode is activated */
.dark-mode {
    background-color: black;
    color: white;
}

#warningMessage {
    color:red;
}
/* The picture of the sun for the left side of the index */
.first-blog {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../sun-blog.png);
    width: 50%;
    

}
.first-blog h1 {
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}