
 body { 
    box-sizing: border-box;
}

header {
    display:flex;
    flex-direction: row;
}

.dark { 
    display:flex;
    justify-content: flex-end;
    padding:20px;
    margin-bottom: 30px;
    margin-right:35px;
    
    
}

/* The properties for when dark mode is activated */
 .darkMode { 
    background-color: rgb(51, 51, 51);
    color: white;
}

.darkMode label {
    color:white;
}

/* This keeps the 2 columns side by side */
.row {
    display:flex;
}

/* The picture of the sun for the left side of the index and form on the right side*/
.column {
    width:100%;
    margin-right: 5px;
    padding: 30px;
    height: 600px;
    border-style: double;
}
/* Aligning the words inside the sun image */
 .container { 
    position: relative;
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

.centered {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/* Adjusts the sun icon */
.first-blog {
    display:flex;
    align-items: center;
    

}
.h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
    display: inline-block;
    width: 100%;
}

/* Controls the h2 settings for the big words on the right side */
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 115px;
}

.input-group {
    font-weight: bold;
}

input[type=text] {
    display: inline-block;
    width: 80%;
    padding: 40px, 40px;
}

label {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
/* Adds properties to the content textbox */
#Content {
    height: 100px;
    width: 80%;
}


/* Properties of the submit button */
#submit {
    width:90%;
    height:30%;
    background-color: rgb(60, 60, 206);
    color: white;
    cursor: pointer;
    margin-top: 30px;
    border: none;
}

/* This will display if there is an error in submitting blank information */
 #warningMessage { 
    color:red;
}

.footer {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.footer h4, h5{
    text-align:center;
}

a:link{
    color:rgb(238, 139, 27);
}

a:visited{
    color:rgb(236, 175, 62);
}